@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
      font-family: Proxima Nova;
      font-weight: 400;
      src: 'Roboto', sans-serif;
    }
    @font-face {
      font-family: Proxima Nova;
      font-weight: 500;
      src: 'Roboto Slab', sans-serif;
    }
  } */